body{
    font: 300 15px 'Roboto', "sans serif";
    line-height: 1.2;
    color: #989898;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after{
    clear: both;
    content: '';
    display: table;
}

/* header */
.main-nav {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    min-width: 500px;
}

.menu-items {
    color:  #94E0D2;
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    font: 400 15px 'Montserrat', sans-serif;

}
.menu-items a{
    text-decoration: none;
    color: #94E0D2;
    padding: 10px 0px;
    transition: color 0.1s linear, border 0.1s linear;

}

.menu-items:hover  a{
    color: #F28080;
    border-bottom: 3px solid #F28080;
}

.main-nav > a{
    text-decoration: none;
    color: #94E0D2;
    font: 700 30px 'Montserrat', sans-serif;
}

.main-nav > a span {
    text-transform: uppercase;
}

.main-header{
    margin-bottom: 115px;
}


/* services */

h2 {
    text-transform: uppercase;
    font:700 30px 'Montserrat', sans-serif;
    color: #323232;
    text-align: center;

}

h2::before{ 
    display: block;
    font: 400 24px 'Kaushan Script', 'cursive';
    text-transform: initial;
    margin-bottom: 25px;
    
}

h2::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color:#F28080;
    margin: 40px auto;

}

.services h2::before{
    content:"We Work With";
}


.services-list{
    margin: 0px auto;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.services-list h3{
    text-transform: uppercase;
    font: 400 14px 'Montserrat', sans-serif;
    color: #323232;
    margin-bottom: 20px;
}
.services-list h3::before{
    content: '';
    display: block;
    width: 35px;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 0px;
    background-repeat: no-repeat;
}
.photography::before{
    background:url(../img/icons/ALARM.png);
}

.webdesign::before{
    background: url(../img/icons/LINE-GRAPH.png);
}

.creativity::before{
    background: url(../img/icons/COMPUTER.png);
}

.seo::before{
    background: url(../img/icons/BOOK.png);
}

.css::before{
    background: url(../img/icons/HOME.png);
}

.digital::before{
    background: url(../img/icons/IMAGE.png);
}

.services-items{
    box-sizing: border-box;
    padding: 0px 0px 0px 50px;
    width: 350px;
    list-style: none;
    margin-bottom: 100px;
    position: relative;
}

.services-items:not(:nth-of-type(3n)){
    margin-right: 60px;
}

/* team */

.team h2::before{
    content:"We we are";
}

.team > p {
    width: 960px;
    margin: 0px auto;
    text-align: center;
    line-height: 24px;
    margin-bottom: 100px;
    color: #989898;

}

.team-list {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: 0px auto;
    transition: all 2s linear;
}

.team-items {
    list-style: none;
    min-width: 385px;
    text-align: center;
    position: relative;
    transition: all 2s linear;
}


.team-items p{
    text-transform: uppercase;
    color: #323232;
    margin: 40px 0px 15px 0px;
}

.team-items span{
    color: #989898;
    font-style: italic;
}
.team-items:not(:last-of-type){
    padding-right: 40px;
    color: #323232;

}

/* mask */
.mask-blue{
    display: none;
    position: absolute;
    top: 0px;
    width: 385px;
    height: 468px;
    background: #95e1d3;
    transition: all 2s linear;

}

.mask{
    display: none;
    position: absolute;
    top: 0px;
    background: linear-gradient( rgba(243, 130, 129, 0.9 ), rgba(252, 226, 138, 0.9) );
    width: 385px;
    height: 468px;
    transform: translate(-10px, -10px);
    justify-content: center;
    align-items: center;
}

.team-items:hover > img{
    transform: translate(-10px, -10px);
    transition: all 0.1s linear;
}

.team-items:hover .mask{
    display: flex;
}

.team-items:hover .mask-blue {
    display: block;
  
}

.social-list{
    display: flex;
    align-items: center;
    
}

.social-items {
    list-style: none;
    width: 60px;
    height: 60px;
    background: #FCE38A;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}

.social-items:not(:last-child){
    border-right: 1px solid #F38181;
}

.social-items:hover{
    background:#95E1D3;
    transition: all 0.2s linear;
}
 main {
     margin-bottom: 100px;
 }

/* footer */
.main-footer {
    width: 1200px;
    height: 60px;
    border-top: 1px solid #E5E5E5; 
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
}
.main-footer p{
    font-family: 'Montserrat', sans-serif;
}
.main-footer p>span {
    color: #F28080;
}

.wrapper-button {
    display: flex;
    align-items: center;


}
.mail-text{
    padding: 0px;
    margin: 0px;
    width: 230px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #E5E5E5;
    
}

.mail-text::placeholder{
    color: #E5E5E5;
    font: 300 15px "Roboto", 'sans serif';
    font-style: italic;
}


.mail-button {
    border: none;
    padding: 0;
    margin: 0;
    height: 40px;
    width: 150px;
    background: #95E1D3;
    color: #fff;
    text-transform: uppercase;
}


